@charset "UTF-8";

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{

background:#eef4ff;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.container{

width:470px;

background:#fff;

padding:45px;

border-radius:20px;

box-shadow:0 18px 40px rgba(11,45,109,.15);

animation:fade .6s;

}

@keyframes fade{

from{

opacity:0;
transform:translateY(25px);

}

to{

opacity:1;
transform:translateY(0);

}

}

.logo{

width:85px;
height:85px;

margin:auto;

background:#e7f0ff;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

margin-bottom:20px;

}

.logo i{

font-size:34px;

color:#2563EB;

}

h1{

text-align:center;

color:#0B2D6D;

font-size:36px;

margin-bottom:10px;

}

.subtitle{

text-align:center;

color:#666;

line-height:25px;

margin-bottom:35px;

}

label{

display:block;

margin-bottom:8px;

font-weight:600;

color:#0B2D6D;

}

.input-box{

display:flex;

align-items:center;

border:1px solid #d8e4ff;

border-radius:10px;

background:#fafcff;

padding:0 15px;

margin-bottom:20px;

transition:.3s;

}

.input-box:focus-within{

border-color:#2563EB;

box-shadow:0 0 10px rgba(37,99,235,.20);

}

.icon{

color:#2563EB;

font-size:17px;

}

.input-box input{

width:100%;

padding:16px;

border:none;

outline:none;

background:transparent;

font-size:15px;

}

.eye{

cursor:pointer;

color:#777;

transition:.3s;

}

.eye:hover{

color:#2563EB;

}

button{

width:100%;

padding:16px;

border:none;

border-radius:10px;

background:#0B2D6D;

color:#fff;

font-size:17px;

font-weight:600;

cursor:pointer;

transition:.3s;

margin-top:10px;

}

button:hover{

background:#2563EB;

transform:translateY(-2px);

box-shadow:0 12px 22px rgba(37,99,235,.30);

}

.back{

display:block;

text-align:center;

margin-top:25px;

text-decoration:none;

color:#2563EB;

font-weight:600;

}

.back:hover{

text-decoration:underline;

}

@media(max-width:500px){

.container{

width:92%;

padding:30px;

}

h1{

font-size:30px;

}

}